// Navigation code here

.navbar-container {
  margin: auto;
  width: 52vw;
  height: auto;
  background-color: #f6f6f6;
}

nav {
  display: flex;
  white-space: pre-line;
  justify-content: space-between;
  padding: 1vw 14.7vw 0.6vw 16.2vw;
}

.navbar-container h1 {
  text-align: center;
  font-size: 4rem;
  color: @river-bend;
  /*make this a variable for the theme*/
}

.navbar-container a {
  .link-styling();
  text-align: center;
  /*make this a variable for the theme*/
}
